{
  "extends": "ringcentral",
  "parserOptions": {
    "sourceType": "module",
    "ecmaVersion": 8,
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true
    }
  },
  "parser": "typescript-eslint-parser",
  "plugins": ["typescript"],
  "env": {
    "es6": true,
    "node": true
  },
  "rules": {
    "func-style": [2, "declaration", {
      "allowArrowFunctions": true
    }],
    "space-before-function-paren": [2, {
      "anonymous": "always",
      "named": "never",
      "asyncArrow": "always"
    }],
    "space-before-blocks": [2, "always"],
    "comma-dangle": [2, "always-multiline"],
    "object-curly-spacing": [2, "always"],
    "typescript/member-delimiter-style": 2,
    "typescript/no-unused-vars": 2,
    "no-unused-vars": 0,
    "no-undef": 0,
    "no-void": 2,
    "no-multiple-empty-lines": 2,
    "quotes": [2, "single"]
  }
}
