{
  "extends": "ringcentral-typescript",
  "env": {
    "es6": true,
    "node": true
  },
  "settings": {
    "react": {
      "version": "16.7.18"
    }
  },
  "rules": {
    "@typescript-eslint/no-explicit-any": 0,
    "@typescript-eslint/explicit-module-boundary-types": 0,
    "import/no-anonymous-default-export": 0,
    "import/no-default-export": 0,
    "@typescript-eslint/no-var-requires": 0,
    "@typescript-eslint/no-unused-expressions": 0
  }
}
