packages/**/dist
packages/**/node_modules
packages/**/mocha.opts

packages/**/tsconfig.json
!packages/recorder-frontend/tsconfig.json
!packages/recorder-extension/tsconfig.json

packages/**/.npmignore
!packages/recorder-frontend/.npmignore
!packages/recorder-extension/.npmignore

.idea
.nyc_output
node_modules
coverage

lerna-debug.log
package-lock.json

.DS_Store
