.editorWrapper {
    height: 100%;
    width: 100%;
    display: block;
    position: relative;
    overflow: hidden;
}

.highlightTextInline0 {
    background-color: #845EC2;
    font-style: oblique;
}

.highlightTextInline1 {
    background-color: #D65DB1;
    font-style: oblique;
}

.highlightTextInline2 {
    background-color: #FF6F91;
    font-style: oblique;
}

.highlightColumn0 {
    background-color: #FF9671;
    width: 5px !important;
    margin-left: 3px;
}

.highlightColumn1 {
    background-color: #FFC75F;
    width: 5px !important;
    margin-left: 8px;
}

.highlightColumn2 {
    background-color: #F9F871;
    width: 5px !important;
    margin-left: 13px;
}
